$primary-color: #21258a;
$heading-font: "Apercu", "Roboto", sans-serif;
$body-font: "Apercu", "Roboto", sans-serif;
$link-color: white;
$branding-green: $primary-color;

@font-face {
  font-family: "Apercu";
  src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu.ttf)
    format("opentype");
}
@font-face {
  font-family: "Apercu";
  src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu-Light.otf)
    format("opentype");
  font-weight: 500;
}
@font-face {
  font-family: "Apercu";
  src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu-Bold.otf)
    format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: "Apercu";
  src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu-BoldItalic.otf)
    format("opentype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Apercu";
  src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu-Light.otf)
    format("opentype");
  font-weight: 200;
}
@font-face {
  font-family: "Apercu";
  src: url(https://cdn.rawgit.com/nwhacks/nwhacks2018_static/master/font/Apercu%20Light%20Italic.ttf)
    format("opentype");
  font-weight: lighter;
  font-style: italic;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 65px);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
}

.spacer {
  flex-grow: 10000000;
}

nav {
  color: $primary-color;
  box-shadow: 0px 4px 6px rgba(0, 82, 174, 0.15);
  background-color: white;
}

.button {
  margin: 0 0.29em;
  padding: 12px 15px;
  font-size: 15pt;
}

a {
  color: $primary-color;
  text-decoration: none;
  font-weight: normal !important;
}

a:hover {
  color: $primary-color;
  text-decoration: underline;
}

h2 {
  font-weight: normal;
  font-size: 25px;
  color: #27ae60;
  margin-top: 0.7em;
  margin-bottom: 5px;
  font-weight: lighter;
}
h1 {
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 25px;
  line-height: normal;
  font-size: 38px;
  text-align: center;
  font-weight: bold;
}

h1,
h2,
h3 {
  color: $primary-color;
}

.banner {
  background-color: transparent !important;
  text-transform: none !important;
}

h2,
h3 {
  margin-bottom: -5px;
  margin-top: 30px;
}
h2,
p,
ul,
ol,
td,
th {
  font-size: 14pt;
}

$footer-bg: #4d5682;

#footer {
  background-color: $footer-bg;
  color: white;
  margin: 0 !important;
  overflow: hidden;
  border: none !important;
}

footer {
  overflow: hidden;
}

footer .foot {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: $footer-bg;
  margin: 0 auto;
  text-align: center;
  color: white;
}

footer .foot .social {
  margin: 0 auto;
}

footer .foot .social a {
  text-decoration: none;
}

footer .foot .social .icon {
  height: 33px;
  padding-right: 43px;
}

footer .foot .social .icon-last {
  height: 33px;
}

footer .foot .links {
  display: inline-block;
  margin: 30px auto;
  font-size: 19px;
  font-weight: lighter !important;
  color: white;
}

footer .foot .links a:hover {
  color: white;
}

footer .foot .links .link {
  display: inline;
  padding-right: 37px;
}

footer .foot .links .link-last {
  display: inline;
}

footer a {
  text-decoration: underline;
  color: white;
}

footer p {
  line-height: 15px;
  font-size: 19px;
  text-align: center;
}

nav {
  z-index: 500;
  background: #ffffff;
  height: 64px;
  position: fixed;
  img {
    margin-top: 4px;
    width: 32px;
  }
}

.shadow {
  .card {
    box-shadow: 0px 4px 6px rgba(0, 82, 174, 0.15);
  }
}

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  .ai-center {
    align-items: center;
  }
  .jc-start {
    justify-content: flex-start;
  }
  .jc-end {
    justify-content: flex-end;
  }
}

.fill-width {
  width: 100%;
}

.margin-right-l,
.margin-sides-l {
  margin-right: 32px;
}

.margin-left-l,
.margin-sides-l {
  margin-left: 32px;
}

@media screen and (max-width: 900px) {
  .scale-margin-sides-tablet {
    margin-right: 16px !important;
    margin-left: 16px !important;
  }
}

@media (max-width: 650px) {
  footer .foot .links .link {
    display: block;
    padding-right: 0;
    padding-bottom: 15px;
  }
}

@media (max-width: 375px) {
  footer .foot p {
    font-size: 17px;
  }
  footer .foot .social .icon {
    padding-right: 30px;
  }
}
