@font-face{font-family:"LFT Etica";src:url(https://cdn.rawgit.com/nwhacks/nwhacks2017_static/master/font/LFT_Etica_Book.otf) format("opentype");}
@font-face{font-family:"LFT Etica";src:url(https://cdn.rawgit.com/nwhacks/nwhacks2017_static/master/font/LFT_Etica_Semibold.otf) format("opentype");font-weight:500;}
@font-face{font-family:"LFT Etica";src:url(https://cdn.rawgit.com/nwhacks/nwhacks2017_static/master/font/LFT_Etica_Bold.otf) format("opentype");font-weight:bold;}
@font-face{font-family:"LFT Etica";src:url(https://cdn.rawgit.com/nwhacks/nwhacks2017_static/master/font/LFT_Etica_BoldItalic.otf) format("opentype");font-weight:bold;font-style:italic;}
@font-face{font-family:"LFT Etica";src:url(https://cdn.rawgit.com/nwhacks/nwhacks2017_static/master/font/LFT_Etica_Light.otf) format("opentype");font-weight:200;}
@font-face{font-family:"LFT Etica";src:url(https://cdn.rawgit.com/nwhacks/nwhacks2017_static/master/font/LFT_Etica_LightItalic.otf) format("opentype");font-weight:lighter;font-style:italic;}

@import 'constants';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  margin: 0;
  padding: 0;

}

html {
  font-family: $body-font;
  /*font-size: 16px;*/
  /*font-weight: 300;*/
  /*line-height: 1.5;*/
  min-height: 100%;

  color: $text-color;
  background-color: $light;

  background: rgb(91,99,119); /* Old browsers */
  background: -moz-linear-gradient(top, rgba(91,99,119,1) 32%, rgba(161,193,214,1) 81%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(91,99,119,1) 32%,rgba(161,193,214,1) 81%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(91,99,119,1) 32%,rgba(161,193,214,1) 81%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b6377', endColorstr='#a1c1d6',GradientType=0 ); /* IE6-9 */
}

body {

  margin: 0;
  padding-top: 60px;
  min-height: 100vh;
  background-repeat: no-repeat;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  flex-direction: column;
}

div {
  padding: 0;
  margin: 0;
}

h1 {
  letter-spacing: 4px;
  text-align: center;
  font-weight: 500;
  font-size: 28pt;
}
.h1-container {
  text-align: center;
  h1 {
    display: inline-block;
  }
}
h2, p, ul, ol {
  font-size: 14pt;
}
h2 + p {
  margin-top: 5px;
}

p {
  padding-bottom: 0.25rem;
  line-height: 1.5;
}

.preserve-formatting {
  white-space: pre-wrap;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

input,
textarea {
  font-family: $body-font;
}

input {
  font-weight: bold;
}

strong {
  font-weight: bold;
}

th {
  border-bottom: 0.1rem solid white;
  font-weight: bold;
  white-space: nowrap;
}

th, td {
  padding: 10px 16px;
}

#content tbody tr:nth-child(2n-1) {
  background-color: rgba(35,31,32,0.2);
}

table {
  border-collapse: collapse;
  width: 100%;
}


th.sort-header {
  cursor: pointer;
  &::selection {
    background:transparent;
  }
}

table th.sort-header::after {
  content: " ( )";
  visibility: hidden;
  font-family: "LFT Etica", "Courier New", monospace;
  opacity: 0.5;
}

table th.sort-header:hover::after {
  visibility: visible;
}

table th.sort-up::after {
  content: " (+)";
  visibility: visible;
}

table th.sort-down::after {
  content: " (-)";
  visibility: visible;
}

textarea,
input[type=text] {
  font-weight: normal;
  width: 100%;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

a {
  text-decoration: none;
  color: inherit;
}

a.colored {
  color: $link-color;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: $link-dark;
}


hr {
  position: relative;
  margin: 1.5rem 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}

.item {
  padding-bottom: 1rem;
}

.info {
  padding-left: 1rem;
  padding-right: 1rem;
}

.compact {
  padding: 0 0;
}

.center {
  text-align: center;
}

.banner {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.banner-tight {
  @extend .banner;
  margin-bottom: 0;
}

#content, .content {
  font-weight: 200;
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
  text-align: justify;
  flex-grow: 1000;
}

/*
#admin-header {
  background-color: $admin-color;
}

#wait-header {
  background-color: $wait-color;
  color: $dark;
}

#error-header {
  background-color: $error-color;
}

#previous-header {
  background-color: $previous-color;
}

#previous-body {
  background-color: mix($previous-color, white, 25%);
}

#current-header {
  background-color: $current-color;
}

#current-body {
  background-color: mix($current-color, white, 25%);
}

#vote-header {
  background-color: $vote-color;
}
*/

/*
input[type=submit] {
  color: $light;
  background-color: $dark;
  border: 1px solid $dark;
  font-size: 1.2rem;
  text-transform: uppercase;
  text-align: center;
  height: 3rem;
  -webkit-border-radius: 0; // fix rounded buttons on iOS
  td & {
    border: none;
    width: 100%;
    height: 100%;
  }
}
*/


input[type=submit], button {
  color: #444;

  text-decoration: none;
  letter-spacing: 2px;
  border-radius: 3px;
  border: none;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 11px 15px;
  /*margin-top: 10px; margin-bottom: 10px;*/
  text-transform: uppercase;
  cursor: pointer;

  &.positive, &#vote-done {
    border-bottom: $btn-shadow-size solid $link-dark;
    background-color: $link-color;
    color: $register-btn-fg;
  }

  &.negative, &#vote-skip {
    border-bottom: $btn-shadow-size solid $register-btn-bg-shadow;
    background-color: $register-btn-bg;
    color: $register-btn-fg;
  }

  border-bottom: $btn-shadow-size solid $login-btn-bg-shadow;
  background-color: $login-btn-bg;
  color: $login-btn-fg;
}


.button-left {
  float: left;
  width: 48%;
}

.button-right {
  float: right;
  width: 48%;
}

.button-full {
  width: 100%;
}

.button-gap {
  margin-top: 0.75rem;
}

/*
#vote-previous {
  background-color: $previous-color;
}

#vote-current {
  background-color: $current-color;
}

#vote-skip {
  background-color: $vote-skip-color;
  color: $dark;
}

#vote-done {
  background-color: $vote-done-color;
}
*/

.disabled {
  background-color: $disabled-color;
}

.prioritized {
  background-color: $prioritized-color;
}

.upload-container {
    margin-top: 0.25rem;
    margin-bottom: 0.5rem;
}

.field {
    padding-right: 1rem;
}

#footer {

  background-color: $footer-bg;
  padding-bottom: 25px;
  /*border-top: 1px solid $light-grey;*/
  p {
    margin: 0;
    font-size: 0.75rem;
    text-align: center;
    a {
      display: inline-block;
    }
  }
}

.flex {
  display: flex;
}

footer {
  overflow: hidden;

  .skyline {
    text-align: center;
    object {
      max-width: 2000px;
      // margin-bottom: -77px;
      width: 100%;
      margin-bottom: calc(100% / -25.974);
      display: inline-block;
    }
  }
  .foot {
    padding: 50px;
    padding-bottom: 10px;
    background-color: $footer-bg;
  }

  .imgcont img {
    max-height: 100px;
  }
  a {
    display: block;
    color: $link-dark;
  }
  table {
    border: none;
    border-collapse: inherit;
    width: 100%;

    td {
      border: none;
      vertical-align: top;

      & > table {
        width: auto;
        border-collapse: collapse;

        td + td {
          padding-left: 10px;
        }
      }
    }
    td:last-child {
      text-align: right;
    }
  }
}

#menu {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  padding: 5px 15px;
  /*padding-right: 165px;*/
  background-color: rgba(35,31,32,0.6);
  color: #FFFFFF;
  transition: background-color 0.2s,box-shadow 0.2s;
  display: flex;
  justify-content: space-between;
  a {
    text-transform: uppercase;
    color: inherit;
    font-size: 10pt;
    line-height: 10pt;
    padding: 17px 15px;
    margin: 0 0.29em;
    letter-spacing: 2px;
    align-items: center;
    display: inline-flex;
    font-weight: normal;
    &:hover, &:focus, &:active {
      text-decoration: none;
    }
    &:focus, &:active {
      font-weight: bold;
    }
  }
  #title {
    img {
      height: 34px;
      width: 34px;
    }
    height: 50px;
    width: 50px;
    display: inline-block;


    color: inherit;
    margin: 0 15px;
    padding: 8px;
  }
}
