
<h1>MAP OF WEST ATRIUM</h1>

<img src="/static/map.jpg" style="max-width: 100%; margin: 1em auto">

<h1>JUDGING CRITERIA</h1>

<h2>1. Technical Difficulty</h2>

<p>Is the hack technically interesting or difficult? Were there real technical challenges to surmount?</p>

<h2>2. Originality</h2>

<p>Is the project unique and creative? When someone sees the project, will they think “WOW this is cool”?</p>

<h2>3. Design/Aesthetics</h2>

<p>Is the hack usable in its current state? Is the user experience smooth? Does everything appear to work? Is it well-designed?</p>

<h2>4. Practicality</h2>

<p>Is there a problem that the hack solves? If so, how useful is it?</p>
