<nav class="fill-width flex  shadow">
  <div class="flex ai-center jc-start margin-sides-l scale-margin-sides-tablet">
    <div class="flex ai-center"><a href="https://nwhacks.io/"><img alt="nwHacks" src="https://raw.githubusercontent.com/nwplus/nwhacks2019/master/web/assets/logo.svg?sanitize=true"></a></div>
  </div>
  <div class="flex jc-end fill-width pad-right-s">
    <div class="flex ai-center margin-sides-l scale-margin-sides-tablet scale-hide-phablet"><a href="/"><b>Judge</b></a></div>
    <div class="flex ai-center margin-sides-l scale-margin-sides-tablet scale-hide-phablet"><a href="/tables"><b>Tables</b></a></div>
  </div>
</nav>
