<div class="spacer"></div>
<footer id="nwhacksfooter">
  <div class="foot">
    <div class="social">
      <a href="https://www.facebook.com/nwplusubc">
        <img src="https://raw.githubusercontent.com/nwplus/nwhacks2019/master/web/assets/footer/icons/facebook.svg?sanitize=true"
          class="icon">
      </a>
      <a href="https://www.instagram.com/nwplusubc">
        <img src="https://raw.githubusercontent.com/nwplus/nwhacks2019/master/web/assets/footer/icons/instagram.svg?sanitize=true"
          class="icon">
      </a>
      <a href="https://medium.com/nwplusubc">
        <img src="https://raw.githubusercontent.com/nwplus/nwhacks2019/master/web/assets/footer/icons/medium.svg?sanitize=true"
          class="icon">
      </a>
      <a href="https://twitter.com/nwplusubc">
        <img src="https://raw.githubusercontent.com/nwplus/nwhacks2019/master/web/assets/footer/icons/twitter.svg?sanitize=true"
          class="icon-last">
      </a>
    </div>
    <div class="links">
      <div class="link">
        <a href="mailto:hello@nwplus.io">E-mail Us</a>
      </div>
      <div class="link">
        <a href="http://mlh.io/code-of-conduct">Code of Conduct</a>
      </div>
      <div class="link-last">
        <a href="https://drive.google.com/file/d/1iB-pX7vXm51hmqaq5pBOcyYnVxQxdFQ1/view">Become a Sponsor</a>
      </div>
    </div>
    <p>Organized and held by
      <u id="org-link">
        <a href="http://facebook.com/nwplusubc">nwPlus</a>
      </u>
    </p>
    <p style="font-weight: lighter;">Copyright © 2019 nwPlus</p>
  </div>
</footer>
